<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capgemini.androidretrofit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/movie_icon"
        android:label="Movie Time"
        android:roundIcon="@mipmap/movie_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidRetrofit">
        <activity
            android:name=".MovieDetailActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>